<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<root level="INFO"/>
	<!-- To customize the level for specific packages, add statements like the following:
		 <logger name="org.springframework" level="INFO"/> -->
</configuration>
