name: Check
on:
  push:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  check:
    name: 'Check'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      # Ensures we don't accept a Gradle Wrapper update that has been tampered with.
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: |
            25
            21
          java-package: jdk
          cache: 'gradle'

      - name: Build and Test
        run: ./gradlew check --no-daemon
